{% extends "base.html" %}
{% block title %}Edit Age{% endblock %}

{% block style %}
<style>
    
</style>
{% endblock %}

{% block content %}
<a class="back-link" href="{% url 'raceindex' %}">← Go Back Index</a>
<h1>📝 Edit Age</h1>

<div class="form-container">
    {% for data in datas %}
    <p>
        {{ data.year }}
        <a class="button button-danger" href="{% url 'yeardelete' data.id %}"
                    onclick="return confirm('Confirm to Delete?!')">Delete</a>
    </p>
        
    {% endfor %}
    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label>Age：</label>
            {{ form.year }}
        </div>

        <button class="submit-btn" type="submit">Save</button>
    </form>
</div>
{% endblock %}