{% extends "base.html" %}
{% block title %}{{area_list.area}} Start Game{% endblock %}

{% block style %}
<style>
    .scoreClass{
        width:120px;
    }
</style>
{% endblock %}

{% block content %}
<a class="back-link" href="{% url 'raceindex' %}">← Go Back Index</a>
<h1>📝 {{area_list.area}} Start Game</h1>

<div class="form-container" style="max-width: 100%;">
    
    <form method="POST">
        {% csrf_token %}

        <table>
            <tr>
                <td>Ring：</td>
                <td>{{ area_list.area }}</td>
            </tr>
            <tr>
                <td>Event：</td>
                <td>{{ form.level }}</td>
                <td>Age：</td>
                <td>{{ form.year }}</td>
            </tr>
            <tr>                
                <td>Belt Colour：</td>
                <td>{{ form.color }}</td>
                <td>Sex：</td>
                <td>{{ form.sex }}</td>
            </tr>           
        </table>

        <button class="submit-btn" type="submit">Search</button>
    </form>
</div>
<div id="finishdiv" class="form-container" style="max-width: 100%;background-color: white;">
{% if finish_tag %}
    <a class="button finish-btn" href="{% url 'finishgame' area_list.id %}"
                onclick="return confirm('Confirm to Finish Game?!')">Finish Game</a>
{% endif %}
</div>
<div class="form-container" style="max-width: 100%;background-color: white;">
    <table style="text-align: center;width:100%;border-collapse: collapse; ">
        <thead>
            <tr style="background-color: lightgreen;">
                <th style="border: 1px solid black; padding: 10px;">Name</th>
                <!-- <th style="border: 1px solid black; padding: 10px;">Ring</th>
                <th style="border: 1px solid black; padding: 10px;">Event</th>
                <th style="border: 1px solid black; padding: 10px;">Age</th>
                <th style="border: 1px solid black; padding: 10px;">Belt Colour</th>
                <th style="border: 1px solid black; padding: 10px;">Sex</th> -->
                <th style="border: 1px solid black; padding: 10px;">Score1：</th>
                <th style="border: 1px solid black; padding: 10px;">Score2：</th>
                <th style="border: 1px solid black; padding: 10px;">Score3：</th>
                <th style="border: 1px solid black; padding: 10px;">Status</th>                
                <th style="border: 1px solid black; padding: 10px;">
                    <a class="button button-danger" href="{% url 'cancelprojection' area_list.id %}"
                    onclick="return confirm('Confirm to Cancel Display?!')">Cancel Display</a>
                </th>
            </tr>            
        </thead>
        <tbody>
            {% for data in datas %}
            <tr>
                <td style="border: 1px solid black; padding: 10px;">{{data.player_name}}</td>
                <!-- <td style="border: 1px solid black; padding: 10px;">{{data.area}}</td>
                <td style="border: 1px solid black; padding: 10px;">{{data.level}}</td>
                <td style="border: 1px solid black; padding: 10px;">{{data.year}}</td>
                <td style="border: 1px solid black; padding: 10px;">{{data.color}}</td>
                <td style="border: 1px solid black; padding: 10px;">{{data.sex}}</td> -->
                <td style="border: 1px solid black; padding: 10px;">
                    <input type="number" class="scoreClass refereeAscore" name="referee_a_score" value="{{data.referee_a_score}}" pt="{{data.id}}" />
                </td>
                <td style="border: 1px solid black; padding: 10px;">
                    <input type="number" class="scoreClass refereeBscore" name="referee_b_score" value="{{data.referee_b_score}}" pt="{{data.id}}" />
                </td>
                <td style="border: 1px solid black; padding: 10px;">
                    <input type="number" class="scoreClass refereeCscore" name="referee_c_score" value="{{data.referee_c_score}}" pt="{{data.id}}" />
                </td>
                <td class="projectionTd" style="border: 1px solid black; padding: 10px;" pt="{{data.id}}" ad="{{area_list.id}}">
                    {% if data.projection_tag %}
                        <h2 style="background-color: rgb(182, 64, 182);color: white;">Displaying</h2>
                    {% else %}
                        <button class="projection-btn" type="button" onclick="changeProjection('{{data.id}}', '{{area_list.id}}')">Display</button>
                    {% endif %}
                </td>
                <td style="border: 1px solid black; padding: 10px;">
                    <button class="update-btn" type="button" onclick="updateScores('{{data.id}}')">Update Scores</button>
                </td>
            </tr>

            {% endfor %}
        </tbody>
        
    </table>    
</div>

<script>
    function changeProjection(pt, ad){        
        let tds = document.querySelectorAll('td[class="projectionTd"]');
        tds.forEach(td => {
            td.innerHTML = '<button class="projection-btn" type="button" onclick="changeProjection('+td.getAttribute('pt')+','+td.getAttribute('ad')+')">Display</button>';
        });

        let td = document.querySelector('td[class="projectionTd"][pt="'+pt+'"]');
        td.innerHTML = '<h2 style="background-color: rgb(182, 64, 182);color: white;">Displaying</h2>';

        const url = `/change_projection?pt=${pt}&ad=${ad}`;

        fetch(url)
        .then(res=>res.json())
        .then(data=>{
            alert(data.result);            

            if(data.success){
                let div = document.getElementById('finishdiv');
                div.innerHTML = '<a class="button finish-btn" href="/finish_game/{{area_list.id}}" onclick="return confirm(\\"Confirm to Finish Game?!\\")">Finish Game</a>';
            }
        });
    }

    function updateScores(pt){
        let a_score = document.querySelector('input[type="number"][class="scoreClass refereeAscore"][pt="'+pt+'"]').value;
        let b_score = document.querySelector('input[type="number"][class="scoreClass refereeBscore"][pt="'+pt+'"]').value;
        let c_score = document.querySelector('input[type="number"][class="scoreClass refereeCscore"][pt="'+pt+'"]').value;
        
        const url = `/update_score?pt=${pt}&a=${a_score}&b=${b_score}&c=${c_score}`;

        fetch(url)
        .then(res=>res.json())
        .then(data=>{
            alert(data.result);
        });
    }
</script>
{% endblock %}