{% extends "base.html" %}
{% block title %}Build Up{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<a class="back-link" href="{% url 'raceindex' %}">← Go Back Index</a>
<h1>📝 Build Up</h1>

<div class="form-container" style="max-width: 100%;">
    
    <form method="POST">
        {% csrf_token %}

        <table>
            <tr>
                <td>Name：</td>
                <td>{{ form.player_name }}</td>
            </tr>
            <tr>
                <td>Event：</td>
                <td>{{ form.level }}</td>
            </tr>
        </table>

        <button class="submit-btn" type="submit">Save</button>
    </form>
</div>

<div class="form-container" style="max-width: 100%;background-color: white;">
    <table style="text-align: center;width:100%;border-collapse: collapse; ">
        <thead>
            <tr style="background-color: lightgreen;">
                <th style="border: 1px solid black; padding: 10px;">Name</th>
                <th style="border: 1px solid black; padding: 10px;">Event</th>
                <th style="border: 1px solid black; padding: 10px;"></th>
            </tr>            
        </thead>
        <tbody>
            {% for data in datas %}
            <tr>
                <td style="border: 1px solid black; padding: 10px;">{{data.player_name}}</td>
                <td style="border: 1px solid black; padding: 10px;">{{data.level}}</td>
                <td style="border: 1px solid black; padding: 10px;">
                    <a class="button button-danger" href="{% url 'teamdemoracedelete' data.id %}"
                        onclick="return confirm('Confirm to Delete?!')">Delete</a>
                </td>
            </tr>

            {% endfor %}
        </tbody>
        
    </table>
</div>
{% endblock %}